body {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.thumbnail{
margin: 10px;

}
#side-menu{
  height:100%;
}

a {
  color: #00B7FF;
}